<script>document.title="My Pets"</script>

<h1 class="wallOfAdoption">My Pets</h1>
<div class="body-wall">
{{!-- {{#if _id}} --}}
{{#each pets}}
<div class="containerLogIn-pet-wall" style="width: 18rem;">
  <img src="{{image}}" class="card-img-top-wall" alt="...">
  <div class="card-body-wall">
    <h5 class="card-title">{{petname}}</h5>
    <p class="card-text">{{pet}}<br>{{status}}</p>
		<a href="/pet/my-pets/{{_id}}" class="btnHome-wall">More</a>
  </div>
</div>
{{/each}}
{{!-- {{/if}} --}}
</div>