<script>document.title=`{{petname}} Details`</script>
<style>
	.img-thumbnail{
		width: 25%;
		height: 25%;
	}
	.petdetails{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
</style>
<link rel="icon" type="" href="">
<h1>{{petname}} details</h1>
<div class="petdetails">
	<div>
		<img src="{{photo}}" alt="" class="img-thumbnail rounded mx-auto d-block">
	</div>
    <h3>{{petname}}</h3>
    <p>
        {{pet}}
    </p>
    <p>
        {{dof}}
    </p>
    <p>
        {{size}}
    </p>
    <p>
        {{personality}}
    </p>
    <p>
        {{sociability}}
    </p>
    <h4>Contact Information</h4>
    <p>
        {{name}}
    </p>
    <p>
        {{phone}}
    </p>
    <p>
        {{city}}
    </p>
    <p>
        {{status}}
    </p>
		<a href="/pet/my-pets/" class="btnHome-signup" >Go back</a>
</div>