<script>document.title="Wall of Pets"</script>


<h1 class="wallOfAdoption">Wall of Adoption</h1>
<div class="body-wall">
{{#each pets}}
<div class="containerLogIn-pet-wall" style="width: 18rem;">
  <img src="{{image}}" class="card-img-top-wall" alt="...">
  <div class="card-body-wall">
    <h5 class="card-title">{{petname}}</h5>
		<p  class="card-text">{{size}}</p>
    <p class="card-text">{{pet}}</p>
    <a href="/pet/wall/{{_id}}" class="btnHome-wall">Meet me</a>
  </div>
</div>
{{/each}}
</div>